.wrapper {
  width: 100vw;
  height: 100vh;
}

.page {
  width: 70vw;
  overflow: scroll;
  margin: auto;
  padding: 30px;
}

.products {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 15px;
}

.product {
  height: 50vh;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-rows: 75% 25%;
}

.info {
  padding: 15px;
}

.price {
  margin: 10px 0px;
}

.amount {
  font-weight: 700;
}

img {
  height: 100%;
  width: 100%;
}
